*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

article#logo img{
    padding-left: 2rem;
    padding-top: 1rem;
}



header{

    height: 93px;
    width: 1419px;
    background-color: rgb(255, 255, 255);
    
}

body{
    background-color: rgb(212, 211, 211);
}

.main-text{
    display: inline-block;
    font-size: 70px;
}

.first-box{
    width: 1021px;
    height: 75px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding-left: 2rem;
}

.blue-button{
    background-color: rgb(166, 166, 230);
    border-radius: .5rem;
    height: 40px;
    width: 100px;
    color: white;
    margin: 15px;
}

.button-section{
    width: 100px;
    height: 40px;
    border-radius: .5rem;
    color: gray;
}

.second-box{
    width: 1021px;
    height: 725px;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
    font-size: 33px;
}


